.container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 90%;
}
.box {
    text-align: center;
}
img {
    width: 300px;
    margin: 0 0 40px 0;
}
.button {
    background-color: rgb(57, 142, 255);
    border-radius: 8px;
    box-shadow: rgba(51, 45, 91, 0.2) 0px 4px 6px 0px;
    box-sizing: border-box;
    color: rgb(255, 255, 255);
    cursor: pointer;
    display: inline-block;
    font-family: "Source Sans Pro", sans-serif;
    font-size: 14px;
    letter-spacing: 2px;
    line-height: 21px;
    margin: 10px;
    padding: 11.2px 19.2px;
    text-decoration-line: none;
    text-transform: uppercase;
}
.legal {
    font-size: 10px;
    color: #aaa;
    margin: 0 20px ;
}